{% extends 'users/base.html' %}
{% block content %}

{% load static %}

<div class="product">
    <div class="items">
        {% for product in products %}
        <div class="item-box">
            {% if product.image %}
            <div class="item-image">
                <img src="{{ product.image.url }}" alt="Product Image">
                <hr>
            </div>
            {% endif %}
            <div class="item-info">
                <p><strong>Name</strong>: {{ product.name }}</p>
                <p><strong>Price</strong>: ₹{{ product.price }}</p>
                <p><strong>Category</strong>: {{ product.category }}</p>
                <p><strong>Description</strong>: {{ product.description|truncatechars:20 }}</p>
            </div>
            <hr>
            <div class="item-links">
                {% if request.user.is_superuser or is_authenticated %}
                <a href="{% url 'product_edit' product.id %}"><i class="fas fa-edit"></i></a>
                {% endif %}
                <a href="{% url 'add_to_cart' product.id %}"><i class="fas fa-cart-shopping"></i></a>
                <a href="{% url 'product_details' product.id %}"><i class="fas fa-comment-dots"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div> 
{% endblock %}