{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django E-Commerce{% endblock %}</title>
    <script src="https://kit.fontawesome.com/fde0d69356.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <div class="container">
        {% include 'users/navbar.html' %}
        {% block content %}{% endblock %}
        {% include 'users/footer.html' %}
    </div>
    <script src="{% static 'js/product.js' %}"></script>
</body>
</html>
