{% extends 'users/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<section class="hero">
    <div class="hero-text">
        <h1>Welcome to ShopEasy</h1>
        <p>Your favorite place to shop for amazing products</p>
        <a href="{% url 'products' %}" class="btn-primary">Shop Now</a>
    </div>
</section>
{% else %}
<section class="hero">
    <div class="hero-text">
        <h1>Welcome to ShopEasy</h1>
        <p><strong>It look like you don't have login</strong></p>
        <a class="btn btn-primary" href="{% url 'account_login' %}"><strong>Login</strong></a>
    </div>
</section>
{% endif %}
{% endblock %}